body {
    font-family: 'Open sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Work Sans', sans-serif;
}

.tituloM {
    color:darkcyan ;
}

.tituloB {
    color: darkcyan;
}

.tituloL {
    color: darkcyan;
}

.tituloP {
    color: darkcyan;
}